@import 'nib'

$hero-animate-distance = 100px
$hero-animate-duration = 1s
$hero-animate-delay-gap = (($hero-animate-duration * 2) / 6)

@keyframes slide-down-in
  0%
    transform translate3d(0, $hero-animate-distance * -1, 0)
    opacity: 0

  100%
    transform translate3d(0, 0, 0)

@keyframes slide-up-in
  0%
    transform translate3d(0, $hero-animate-distance, 0)
    opacity: 0

  100%
    transform translate3d(0, 0, 0)

@keyframes slide-down-out
  0%
    transform translate3d(0, 0, 0)

  100%
    transform translate3d(0, $hero-animate-distance, 0)
    opacity: 0

@keyframes slide-up-out
  0%
    transform translate3d(0, 0, 0)

  100%
    transform translate3d(0, $hero-animate-distance * -1, 0)
    opacity: 0

@keyframes slide-right-in
  0%
    transform translate3d($hero-animate-distance * -1, 0, 0)
    opacity: 0

  100%
    transform translate3d(0, 0, 0)

@keyframes slide-right-out
  0%
    transform translate3d(0, 0, 0)

  100%
    transform translate3d($hero-animate-distance, 0, 0)
    opacity: 0

@keyframes slide-left-in
  0%
    transform translate3d($hero-animate-distance, 0, 0)
    opacity: 0

  100%
    transform translate3d(0, 0, 0)

@keyframes slide-left-out
  0%
    transform translate3d(0, 0, 0)

  100%
    transform translate3d($hero-animate-distance * -1, 0, 0)
    opacity: 0

.hr-slides
  outline 0
  position relative

.hr-slides-item
  background-position top center
  background-repeat no-repeat
  background-size cover
  position absolute
  width 100%

  &.hr-animate-in
    animation-timing-function ease-out

    .hr-up
      animation-name slide-up-in

    .hr-right
      animation-name slide-right-in

    .hr-down
      animation-name slide-down-in

    .hr-left
      animation-name slide-left-in

  &.hr-animate-out
    animation-timing-function ease-in

    .hr-up
      animation-name slide-up-out

    .hr-right
      animation-name slide-right-out

    .hr-down
      animation-name slide-down-out

    .hr-left
      animation-name slide-left-out

.hr-animate
  animation-duration $hero-animate-duration
  animation-fill-mode both

  &.hr-xx-fast
    animation-duration ($hero-animate-duration - ($hero-animate-delay-gap * 2.5))

  &.hr-x-fast
    animation-duration ($hero-animate-duration - ($hero-animate-delay-gap * 1.75))

  &.hr-fast
    animation-duration ($hero-animate-duration - ($hero-animate-delay-gap))

  &.hr-slow
    animation-duration ($hero-animate-duration + ($hero-animate-delay-gap))

  &.hr-x-slow
    animation-duration ($hero-animate-duration + ($hero-animate-delay-gap * 1.75))

  &.hr-xx-slow
    animation-duration ($hero-animate-duration + ($hero-animate-delay-gap * 2.5))

  // Calculate how many items to delay
  for item in 1..10
    &.hr-delay-{item}
      animation-delay (item * $hero-animate-delay-gap)