body {
  font-family: "Georgia", serif;
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
}
a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
.island {
  padding: 3em;
}
#example-1,
#example-2,
#example-3 {
  width: 100%;
  background-position: center top;
}
#example-1 {
  background-image: url("../images/scene-bg-1.jpg");
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}
#example-1 .slide-image-1 {
  float: left;
  margin-right: 1.5em;
}
#example-2 {
  background-image: url("../images/scene-bg-2.jpg");
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
#example-2 .slide-image-1 {
  float: right;
  margin-left: 1.5em;
}
#example-2 .slide-title {
  margin-top: 5em;
}
#example-3 {
  background-color: #add6eb;
  font-size: 2em;
}
#example-3 .slide-content-1 {
  color: #265973;
}
