.hr-animate
  animation-duration $hero-animate-duration
  animation-fill-mode both

  &.hr-xx-fast
    animation-duration ($hero-animate-duration - ($hero-animate-delay-gap * 2.5))

  &.hr-x-fast
    animation-duration ($hero-animate-duration - ($hero-animate-delay-gap * 1.75))

  &.hr-fast
    animation-duration ($hero-animate-duration - ($hero-animate-delay-gap))

  &.hr-slow
    animation-duration ($hero-animate-duration + ($hero-animate-delay-gap))

  &.hr-x-slow
    animation-duration ($hero-animate-duration + ($hero-animate-delay-gap * 1.75))

  &.hr-xx-slow
    animation-duration ($hero-animate-duration + ($hero-animate-delay-gap * 2.5))

  .is-hr-animating-in &
    &.hr-up
      animation-name hr-slide-up-in

    &.hr-right
      animation-name hr-slide-right-in

    &.hr-down
      animation-name hr-slide-down-in

    &.hr-left
      animation-name hr-slide-left-in

  .is-hr-animating-out &
    &.hr-up
      animation-name hr-slide-up-out

    &.hr-right
      animation-name hr-slide-right-out

    &.hr-down
      animation-name hr-slide-down-out

    &.hr-left
      animation-name hr-slide-left-out

  // Calculate how many items to delay. 5 classes should be plenty.
  for item in 1..5
    &.hr-delay-{item}
      animation-delay (item * $hero-animate-delay-gap)