.hr-slides-item
  background-position top center
  background-repeat no-repeat
  background-size cover
  position absolute
  width 100%

  &.is-hr-animating-in
    animation-timing-function ease-out

  &.is-hr-animating-out
    animation-timing-function ease-in