@import 'nib'

$hero-animate-distance = 100px
$hero-animate-duration = 1s
$hero-animate-delay-gap = (($hero-animate-duration * 2) / 6)

@import 'hr-keyframes'
@import 'hr-slides'
@import 'hr-slides-item'
@import 'hr-animate'