body
  font-family "Georgia", serif
  font-size 16px
  line-height 1.5

h1,
h2,
h3,
h4,
h5,
h6
  font-family "Helvetica", sans-serif

a
  color inherit
  font-weight bold
  text-decoration none

  &:hover
    text-decoration underline

.container
  width 1024px
  margin-right auto
  margin-left auto

.island
  padding 3em

#example-1,
#example-2,
#example-3
  width 100%
  background-position center top

#example-1
  background-image url('../images/scene-bg-1.jpg')
  text-shadow 0 1px 1px rgba(white, 0.8)

  .slide-image-1
    float left
    margin-right 1.5em

#example-2
  background-image url('../images/scene-bg-2.jpg')
  color white
  text-shadow 0 1px 1px rgba(black, 0.8)

  .slide-image-1
    float right
    margin-left 1.5em

  .slide-title
    margin-top 5em

#example-3
  background-color hsl(200, 60%, 80%)
  font-size 2em

  .slide-content-1
    color hsl(200, 50%, 30%)
